.btn-success{
    border-radius: 10px;
    padding: 1.5%;
}
body{
    background-image: url('/img/2.png');
    background-repeat: none;
    background-size: 100%;
}
.btn-secondary:hover {
    background-color: blue;
    color:  white;
}